<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Search for a provider</h2>
  <p>Instructions for user here!</p>
  <form action="/action_page.php">
    <div class="row">
      <div class="col">
        <label for="last name">Provider's last name:</label>
        <input type="text" class="form-control" id="last name" placeholder="Enter last name here" name="last_name">
      </div>
      <div class="col">
        <label for="last name">State provider if located in:</label>
        <input type="text" class="form-control" id="state abbreviation" placeholder="Enter state abbreviation, eg: 'CO' or 'FL'" name="state">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Search</button>
  </form>
</div>

</body>
</html>
