---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?first_name=&last_name=&limit=&state=&taxonomy_description=&version=2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Errors": [{"field": "generic", "number": "04", "description": "No
        valid search criteria provided"}]}'
  recorded_at: Tue, 07 Dec 2021 22:57:29 GMT
recorded_with: VCR 6.0.0
