---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?first_name=&last_name=&limit=200&state=co&taxonomy_description=&version=2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Errors": [{"field": "state", "number": "07", "description": "field
        state requires additional search criteria"}]}'
  recorded_at: Wed, 08 Dec 2021 00:03:41 GMT
recorded_with: VCR 6.0.0
