---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?first_name=joe&last_name=berg&limit=200&state=&taxonomy_description=&version=2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":3, "results":[{"enumeration_type": "NPI-1", "number":
        1962498204, "last_updated_epoch": 1325635200, "created_epoch": 1127347200,
        "basic": {"name_prefix": "DR.", "first_name": "JOSEPH", "last_name": "BERG",
        "middle_name": "CHANDLER", "credential": "MD", "sole_proprietor": "NO", "gender":
        "M", "enumeration_date": "2005-09-22", "last_updated": "2012-01-04", "status":
        "A", "name": "BERG JOSEPH"}, "other_names": [], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "2709 MEREDYTH DR", "address_2": "SUITE 110", "city":
        "ALBANY", "state": "GA", "postal_code": "317070222", "telephone_number": "229-432-7012",
        "fax_number": "229-435-0211"}, {"country_code": "US", "country_name": "United
        States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "2709 MEREDYTH DR", "address_2": "SUITE 110", "city": "ALBANY", "state": "GA",
        "postal_code": "317070222", "telephone_number": "229-432-7012", "fax_number":
        "229-435-0211"}], "taxonomies": [{"code": "207W00000X", "desc": "Ophthalmology",
        "primary": true, "state": "GA", "license": "021643"}], "identifiers": [{"identifier":
        "00070188B", "code": "05", "desc": "MEDICAID", "state": "GA", "issuer": ""}]},{"enumeration_type":
        "NPI-1", "number": 1922360346, "last_updated_epoch": 1439468605, "created_epoch":
        1339459200, "basic": {"name_prefix": "DR.", "first_name": "JOSEPH", "last_name":
        "BERG", "middle_name": "RANDALL", "credential": "D.O.", "sole_proprietor":
        "NO", "gender": "M", "enumeration_date": "2012-06-12", "last_updated": "2015-08-13",
        "status": "A", "name": "BERG JOSEPH"}, "other_names": [], "addresses": [{"country_code":
        "US", "count[...]
