---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?first_name=&last_name=&limit=200&state=co&taxonomy_description=pediatric%20cardiology&version=2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":127, "results":[{"enumeration_type": "NPI-1", "number":
        1144279787, "last_updated_epoch": 1338508800, "created_epoch": 1147219200,
        "basic": {"name_prefix": "DR.", "first_name": "DAVID", "last_name": "MILLER",
        "middle_name": "JOHN", "credential": "M.D.", "sole_proprietor": "NO", "gender":
        "M", "enumeration_date": "2006-05-10", "last_updated": "2012-06-01", "status":
        "A", "name": "MILLER DAVID"}, "other_names": [], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "2055 HIGH ST", "address_2": "SUITE 255", "city": "DENVER",
        "state": "CO", "postal_code": "802055503", "telephone_number": "303-860-9933",
        "fax_number": "303-839-5844"}, {"country_code": "US", "country_name": "United
        States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "8043 E MAPLE AVE", "address_2": "", "city": "DENVER", "state": "CO", "postal_code":
        "802306802", "telephone_number": "303-365-1812", "fax_number": "303-839-5844"}],
        "taxonomies": [{"code": "2080P0202X", "desc": "Pediatrics Pediatric Cardiology",
        "primary": true, "state": "CO", "license": "33933"}], "identifiers": []},{"enumeration_type":
        "NPI-1", "number": 1174574107, "last_updated_epoch": 1544006327, "created_epoch":
        1147651200, "basic": {"first_name": "STEPHEN", "last_name": "DANIELS", "middle_name":
        "R.", "credential": "MD, PHD", "sole_proprietor": "NO", "gender": "M", "enumeration_date":
        "2006-05-15", "last_updated": "2018-12-05", "status": "A", "name": "DANIELS
        STEPHEN"}, "other_names": [], "addresses": [{"country_code": "US", "country_name":
        "United States", "address_purpose": "LOCATION", "address_type": "DOM", "address_1":
        "13123 E 16TH AVE", "address_2": "B065", "city": "AURORA", "state": "CO",
        "postal_code": "800457106", "telephone_number": "720-777-2766", "fax_number":
        "720-777-7278"}, {"country_code": "US", "country_name": "United States", "address_purpose":
        "MAILING", "address_type": "DOM", "address_1": "PO BOX 110429", "address_2":
        "", "city": "AURORA", "state": "CO", "postal_code": "800420429", "telephone_number":
        "303-493-7000", "fax_number": "303-493-7202"}], "taxonomies": [{"code": "208000000X",
        "desc": "Pediatrics", "primary": false, "state": "CO", "license": "44951"},
        {"code": "2080P0202X", "desc": "Pediatrics Pediatric Cardiology", "primary":
        false, "state": "OH", "license": "35-04-36022"}, {"code": "2080P0202X", "desc":
        "Pediatrics Pediatric Cardiology", "primary": true, "state": "CO", "license":
        "44951"}], "identifiers": [{"identifier": "03959716", "code": "05", "desc":
        "MEDICAID", "state": "CO", "issuer": ""}]},{"enumeration_type": "NPI-1", "number":
        1447205224, "last_updated_epoch": 1183852800, "created_epoch": 1148342400,
        "basic": {"name_prefix": "DR.", "first_name": "REGINALD", "last_name": "WASHINGTON",
        "middle_name": "LOUIS", "credential": "M.D.", "sole_proprietor": "NO", "gender":
        "M", "enumeration_date": "2006-05-23", "last_updated": "2007-07-08", "status":
        "A", "name": "WASHINGTON REGINALD"}, "other_names": [], "addresses": [{"country_code":
      [...]
