---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?first_name=&last_name=&limit=20&state=co&taxonomy_description=dentist&version=2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":20, "results":[{"enumeration_type": "NPI-2", "number":
        1891798690, "last_updated_epoch": 1213747200, "created_epoch": 1116892800,
        "basic": {"organization_name": "DR. THOMAS MATSUI, D.D.S., P.C.", "organizational_subpart":
        "NO", "enumeration_date": "2005-05-24", "last_updated": "2008-06-18", "status":
        "A", "authorized_official_credential": "D.D.S.", "authorized_official_first_name":
        "THOMAS", "authorized_official_last_name": "MATSUI", "authorized_official_middle_name":
        "KENNETH", "authorized_official_telephone_number": "303-234-0505", "authorized_official_title_or_position":
        "C.E.O.", "authorized_official_name_prefix": "DR.", "name": "DR. THOMAS MATSUI,
        D.D.S., P.C."}, "other_names": [], "addresses": [{"country_code": "US", "country_name":
        "United States", "address_purpose": "LOCATION", "address_type": "DOM", "address_1":
        "1526 COLE BLVD", "address_2": "STE 120", "city": "LAKEWOOD", "state": "CO",
        "postal_code": "804013410", "telephone_number": "303-234-0505", "fax_number":
        "303-234-0226"}, {"country_code": "US", "country_name": "United States", "address_purpose":
        "MAILING", "address_type": "DOM", "address_1": "1526 COLE BLVD", "address_2":
        "STE 120", "city": "LAKEWOOD", "state": "CO", "postal_code": "804013410",
        "telephone_number": "303-234-0505", "fax_number": "303-234-0226"}], "taxonomies":
        [{"code": "1223G0001X", "desc": "Dentist General Practice", "primary": true,
        "state": "CO", "license": "105042", "taxonomy_group": "193400000X SINGLE SPECIALTY  GROUP"}],
        "identifiers": []},{"enumeration_type": "NPI-1", "number": 1962405712, "last_updated_epoch":
        1183852800, "created_epoch": 1116892800, "basic": {"name_prefix": "DR.", "first_name":
        "SUE", "last_name": "JAMES", "credential": "DDS", "sole_proprietor": "NO",
        "gender": "F", "enumeration_date": "2005-05-24", "last_updated": "2007-07-08",
        "status": "A", "name": "JAMES SUE"}, "other_names": [], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "9351 GRANT ST", "address_2": "STE 340", "city": "DENVER",
        "state": "CO", "postal_code": "802294365", "telephone_number": "303-254-4484",
        "fax_number": "303-254-9658"}, {"country_code": "US", "country_name": "United
        States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "9351 GRANT ST", "address_2": "STE 340", "city": "DENVER", "state": "CO",
        "postal_code": "802294365", "telephone_number": "303-254-4484", "fax_number":
        "303-254-9658"}], "taxonomies": [{"code": "1223G0001X", "desc": "Dentist General
        Practice", "primary": true, "state": "CO", "license": "6425"}], "identifiers":
        []},{"enumeration_type": "NPI-1", "number": 1700889474, "last_updated_epoch":
        1183852800, "created_epoch": 1116892800, "basic": {"name_prefix": "DR.", "first_name":
        "SHELDON", "last_name": "OMI", "middle_name": "R", "credential": "D.M.D. P.C",
        "sole_proprietor": "NO", "gender": "M", "enumeration_date": "2005-05-24",
        "last_updated": "2007-07-08", "status": "A", "name": "OMI SHELDON"}, "other_names":
        [], "addresses": [{"country_code": "US", "country_name": "United States",
        "address_purpose": "LOCATION", "address_type": "DOM", "address_1": "7900 W
        44TH AVE", "address_2": "STE 101", "city": "WHEAT RIDGE", "state": "CO", "postal_code":
        "800334563", "telephone[...]
