---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?first_name=jennifer&last_name=russo&limit=20&state=&taxonomy_description=&version=2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":12, "results":[{"enumeration_type": "NPI-1", "number":
        1760528566, "last_updated_epoch": 1183852800, "created_epoch": 1170028800,
        "basic": {"name_prefix": "MRS.", "first_name": "JENNIFER", "last_name": "RUSSO",
        "middle_name": "PERT", "credential": "MA CCCSLP", "sole_proprietor": "NO",
        "gender": "F", "enumeration_date": "2007-01-29", "last_updated": "2007-07-08",
        "status": "A", "name": "RUSSO JENNIFER"}, "other_names": [{"code": "1", "type":
        "Former Name", "last_name": "PERT", "first_name": "JENNIFER", "middle_name":
        "JILL", "prefix": "MISS", "credential": "MA CCC SLP"}], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "43 BAXTER BLVD", "address_2": "", "city": "PORTLAND",
        "state": "ME", "postal_code": "041011823", "telephone_number": "207-874-1056",
        "fax_number": "207-874-1068"}, {"country_code": "US", "country_name": "United
        States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "43 BAXTER BLVD", "address_2": "", "city": "PORTLAND", "state": "ME", "postal_code":
        "041011823", "telephone_number": "207-874-1056", "fax_number": "207-874-1068"}],
        "taxonomies": [{"code": "235Z00000X", "desc": "Speech-Language Pathologist  ",
        "primary": true, "state": "ME", "license": "SP765"}], "identifiers": [{"identifier":
        "100667", "code": "01", "desc": "Other", "state": "ME", "issuer": "ANTHEM
        BCBS"}]},{"enumeration_type": "NPI-1", "number": 1932397759, "last_updated_epoch":
        1191542400, "created_epoch": 1191542400, "basic": {"first_name": "JENNIFER",
        "last_name": "RUSSO", "middle_name": "M.", "sole_proprietor": "NO", "gender":
        "F", "enumeration_date": "2007-10-05", "last_updated": "2007-10-05", "status":
        "A", "name": "RUSSO JENNIFER"}, "other_names": [{"code": "1", "type": "Former
        Name", "last_name": "PABON", "first_name": "JENN[...]
